.image .preview {
    background-image: url(/hoge.png);
  }
  /*.image input[type="file"] {
    opacity: 0;
  }
  */




/*createのラジオボタン*/
  input[type="radio"]:checked + label {
    background: #31A9EE;/* マウス選択時の背景色を指定する */
    color: #ffffff; /* マウス選択時のフォント色を指定する */
  }
  .label:hover {
    background-color: #E2EDF9; /* マウスオーバー時の背景色を指定する */
 }
  .label {
    display: block; /* ブロックレベル要素化する */
    float: left; /* 要素の左寄せ・回り込を指定する */
    margin: 8px; /* ボックス外側の余白を指定する */
    width: 100px; /* ボックスの横幅を指定する */
    height: 40px; /* ボックスの高さを指定する */
    padding-left: 5px; /* ボックス内左側の余白を指定する */
    padding-right: 5px; /* ボックス内御右側の余白を指定する */
    color: #b20000; /* フォントの色を指定 */
    text-align: center; /* テキストのセンタリングを指定する */
    line-height: 45px; /* 行の高さを指定する */
    cursor: pointer; /* マウスカーソルの形（リンクカーソル）を指定する */
    border: 3px solid #bcd900;/* ボックスの境界線を実線で指定する */
    border-radius: 5px; /* 角丸を指定する */    
  }


  /*タグ*/
  .tug{
    display: block; /* ブロックレベル要素化する */
    float: left; /* 要素の左寄せ・回り込を指定する */
    margin: 8px; /* ボックス外側の余白を指定する */
    width: 70px; /* ボックスの横幅を指定する */
    height: 30px; /* ボックスの高さを指定する */
    padding-left: 5px; /* ボックス内左側の余白を指定する */
    padding-right: 5px; /* ボックス内御右側の余白を指定する */
    color: #b20000; /* フォントの色を指定 */
    text-align: center; /* テキストのセンタリングを指定する */
    line-height: 30px; /* 行の高さを指定する */
    border: 3px solid #bcd900;/* ボックスの境界線を実線で指定する */
    border-radius: 5px; /* 角丸を指定する */ 
  }