body {
  background-color:#e9ffe8;
  font-size: 14px;
  font-family: Helvetica,Arial,sans-serif;
}
a:link, a:visited {color: #a00;}
a:hover {color: #fca;}
p {
  margin: 0;
  padding: 0;
}
h1 {
  margin: 10px 0;
  padding: 0;
  color: rgb(0, 0, 0);
  font-size: 32px;
  text-align: center;
}
h2 {
  margin: 0 -20px 10px -20px;
  padding: 5px 10px;
  background-color: rgb(19, 120, 170);
  color: white;
  font-size: 18px;
}
h3 {
  margin: 0 -15px 10px -15px;
  padding: 5px 10px;
  background-color: #a55;
  color: white;
  font-size: 14px;
}
.post {
  width: 500px; 
  margin: 0 auto 15px auto;
  padding: 0 20px 20px 20px; 
  background-color: rgb(214, 252, 255);
  border: solid 1px #161a20;/*ç·š*/

}
.comment {
  margin: 10px 0;
  padding: 0 15px 15px 15px; 
  background-color: #da7; 
}
.commment_link {
  text-align: right;
}
.login{
  text-align: right;
}
.show_img{
  max-width: 60%;
  height: auto;
}
.content {
  width: 500px; 
  margin: 0 auto 15px auto;
  padding: 0 15px 15px 15px; 
  background-color: #da7; 
}
.font-size-a{
  font-size: 25px;
  display: inline-block;
  padding: 3px 10px;
  text-decoration: none;
  background: rgb(165, 201, 255);
  color: #0066ff;
}
.font-size-b{
  font-size: 25px;
  display: inline-block;
  padding: 3px 10px;
  text-decoration: none;
  background: rgb(165, 201, 255);
}
.button-size{
  width: 100pt;
  padding: 10px;
}
.text-size-in{
  width: 130pt;
  line-height: 2em;
}
.textarea {
  width         : 350px;
  padding       : 8px;
  font-size     : 15px;
  line-height   : 19px;               
}
input[type="text"]{
  font-size: 120%;
}